body, html {
  font-size: 16px;
}

#root {
  margin: auto;
}

.react-grid-item.active {
  border: 1px dashed #3f51b5;
  z-index: 20;
}

.react-grid-item {
  border: 1px solid rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: background-color 0.1s !important;
}

.react-grid-item:not(.active) > .react-resizable-handle {
  display: none;
}

.react-grid-item:not(.active):hover {
  background: rgba(63, 81, 181, 0.3);
  border: 1px dashed #007899;
}